{% extends 'job_app/base.html' %}
{% load static %}
{% block css_add %}
<link rel="stylesheet" href="{% static 'job_app/index.css' %}">
<link rel="stylesheet" href="{% static 'job_app/base.css' %}">
{% endblock %}




{% block content %}
<h2>Your created Vacancies</h2>
<hr>
{% if jobs %}
<div class="row">
    {% for i in jobs %}
    <div class="col-lg-4">
        <div class="card mb-4 box-element product">
            <img class="card-img-top" src="{{i.image.url}}" alt="{{i.company_name}} Image" style="max-width: 10%; height: 100;">
            <div class="card-body">
                <h6>Company:</h6> <strong>{{i.company_name|truncatechars_html:50}}</strong>

                <h6>Position:</h6> <strong>{{i.work_position|truncatechars_html:50}}</strong>

                <h6>Country:</h6> <strong>{{i.country|truncatechars_html:50}}</strong>
<!--                <p class="card-text">{{i.description|truncatechars_html:43}}</p>-->
                <hr>
                <a href="{% url 'change' i.id %}">
               <button data-product='{{i.id}}' class="btn btn-outline-secondary add-btn update-cart">Edit</button>
                </a>
                <a href="{% url 'about' i.id %}" class="btn btn-outline-success">Learn more</a>
                <a href="{% url 'delete2' i.id %}" class="btn btn-danger">Delete</a>
                <br>
                <h4 style="display: inline-block; float: right;"><strong>Salary: ${{i.salary}}</strong></h4>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<h3>You have not created any Vacancies</h3>
{% endif %}
{% endblock %}

