{% extends 'job_app/base.html' %}
{% load static %}
{% block css_add %}
<link rel="stylesheet" href="{% static 'job_app/index.css' %}">
{% endblock %}

{% block content %}
<h2>Saved Vacancies</h2>
<hr>
{% if jobs %}
<div class="row">
    {% for i in jobs %}
    <div class="col-lg-4">
        <div class="card mb-4 box-element product">
            <img class="card-img-top" src="{{i.product.image.url}}" alt="{{i.product.company_name}} Image" style="max-width: 10%; height: 100;">
            <div class="card-body">
                <strong>{{i.product.company_name|truncatechars_html:50}} - {{i.product.work_position|truncatechars_html:50}}</strong>
                <p class="card-text">{{i.product.description|truncatechars_html:43}}</p>
                <hr>

                <a href="{% url 'about' i.product.id %}" class="btn btn-outline-success">View</a>
                <a href="{% url 'delete' i.id %}" class="btn btn-danger">Delete</a>
                <h4 style="display: inline-block; float: right;"><strong>Salary: ${{i.product.salary}}</strong></h4>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<h3>You dont have saved Vacancies</h3>
{% endif %}
{% endblock %}